form p{
    float: left;
    width: 50%;
}
body{
    vertical-align: middle;
}
html{
    background: radial-gradient( lightblue, seagreen, gray);
    color: white;
    height: 100%;
    text-align: center;
}
input{
    background-color: marine;
    color: indigo;
    border: 2px solid  indigo;
    box-shadow: indigo 3px 3px 3px;
    
}

button{
    background-color: mediumaquamarine;
    color:  green;
    border: 2px solid  black;
    margin: 2px;
    font-size: 15px;
    box-shadow: indigo 3px 3px 3px;
}
form, p{
    color:rgb(236, 178, 71);
    font-size: 20px;
    text-shadow: black 2px 2px 2px;
}
h1{
    background: linear-gradient(red, orange, yellow, green, blue, indigo, violet);
    color: antiquewhite;
    font-size: 50px;
}